@font-face {
  font-family: 'iconfont';  /* project id 2305381 */
  src: url('//at.alicdn.com/t/font_2305381_itknudguls.eot');
  src: url('//at.alicdn.com/t/font_2305381_itknudguls.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_2305381_itknudguls.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_2305381_itknudguls.woff') format('woff'),
  url('//at.alicdn.com/t/font_2305381_itknudguls.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_2305381_itknudguls.svg#iconfont') format('svg');
}
.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
